[Desktop Entry]
Name=WebUI Wire
Comment=A wire protocol to use webui with Racket
GenericName=WebUI Wire
exec=webui-wire
Icon=nl.dijkewijk.webui-wire
Terminal=true
Type=Application
Categories=Utilities

